<!DOCTYPE html>
<html lang="en" ng-app="pessoasModulo">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- As 3 metatags acima * devem * vir em primeiro lugar na cabeça; qualquer outro conteúdo principal deve vir * depois * dessas tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/cesertLogo.jpg">
    <script src="js/angular.min.js"></script>

    <title>Cesert</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script src="controller/pessoas.js"></script>

    <!-- Estilos personalizados para este modelo -->
    <link href="css/starter-template.css" rel="stylesheet">

  </head>

  <body ng-controller="pessoasController">
    <div class="center-from">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="center-title">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="paginaLogin.html">Casa do Estudante de Sertânia (Cesert)</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <br><br>
      <div class="center-from">
        <div class="container">
          <br><br><br><br>
          <form>
            <div class="form-group  col-sm-3">
              <label for="cpf">CPF</label>
              <input type="text" required ng-model="pessoa.cpf" class="form-control" id="cpf" placeholder="xxx.xxx.xxx-xx">
            </div>
            <br><br><br><br>
            <div class="form-group  col-sm-3">
              <label for="senha">Senha</label>
              <input type="password" required ng-model="pessoa.senha" class="form-control" id="senha" placeholder="Senha">
            </div>
            <br><br><br><br>
            <div class="center-conectado">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Mantenha-me conectado
                </label>
              </div>
            </div>
            <div class="center-button">
              <a href="index.html"><button type="button" class="btn btn-warning">Voltar</button></a>
              <a href="paginaPrincipal.html"><button ng-disabled="!pessoa.cpf" type="button" class="btn btn-primary">Logar</button></a>              
            </div>
          </form>   
        </div>
      </div>
    </div><!-- /.container -->

    <!-- RODAPÉ -->
    <br><br><br><br><br><br><br><br>
    <footer align="center">
      <p>&copy; 2019 Casa do estudante de Sertânia. &middot; <a href="#">Cesert</a> &middot; <a href="#">Termo</a></p>
    </footer>

  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Colocado no final do documento para que as páginas sejam carregadas mais rapidamente -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
